 
 .smNav {
    width: 100%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    background: rgb(3, 202, 202);
    a{
     color: white;
     opacity: 1;
     height: 50px;
     font-size: 20px;
     line-height: 50px;
     text-decoration: none;
     display: block;
     position: relative;
    }
    
  }
 
  .smNav1 {
   width: 100%;
   height: 50px;
   cursor: pointer;
   text-align: center;
   a{
     color: white;
     opacity: 0.7;
     font-size: 20px;
     height: 50px;
     text-decoration: none;
     line-height: 50px;
      
     display: block;
     position: relative;
   }
   
 }
 
 .smNav2 {
   width: 100%;
   height: 50px;
   cursor: pointer;
   text-align: center;
   a{
     color: white;
     opacity: 0.7;
     height: 50px;
     font-size: 20px;
     line-height: 50px;
     text-decoration: none;
     display: block;
     position: relative;
   }
   
 }
 
 .smNav1:hover {
   background: rgb(3, 202, 202);
     
     a{
       opacity: 1;
     }
 }
 
 .smNav2:hover {
   background: rgb(3, 202, 202);
     
     a{
       opacity: 1;
      
     }
 }
  
 .smParent {
   position: absolute;
   top: 35%;
   width: 100%;
 }
 
  
 